<div class="container mt-5 text-center">
  <p style="color: green;"><%= notice %></p>
  <%= link_to 'Back', root_path %>

  <h2>Meetings List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Description</th>
        <th>Action</th> <!-- New column for viewing meeting -->
      </tr>
    </thead>
    <tbody>
      <% @meetings = @meetings.sort_by(&:date).reverse %>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.name %></td>
          <td><%= meeting.date %></td>
          <td><%= meeting.time.strftime("%I:%M %p") if meeting.time.present? %></td>
          <td><%= meeting.location %></td>
          <td><%= meeting.description %></td>
          <td><%= link_to "View", meeting, class: "btn btn-primary" %></td> <!-- Link to view meeting -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New meeting", new_meeting_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to member_view_meetings_path, class: "button button-member-view" do %>
  Member View
<% end %>

<style>
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add some space between buttons */
  }

  /* Hover effect */
  .button:hover {
    opacity: 0.8;
  }
  

  .button-member-view {
    background-color: maroon; /* Yellow color */
  }
</style>
</div>
