<%= link_to 'Back', root_path %>

<h1>Member Events</h1>

<div id="events_members">
<% @events_members.each do |event_member| %>
    <div>
      <p>Event: <%= link_to events_member.event.name, events_member.event %></p>
      <p>Member: <%= link_to events_member.member.name, events_member.member %></p>
    </div>
  <% end %>
  

<%= link_to "Back to Members", members_path %>
<%= link_to "Back to events", events_path %>