<%= link_to 'Back', root_path %>

<h1>Member Meetings</h1>

<div id="meetings_members">
<% @meetings_members.each do |meeting_member| %>
    <div>
      <p>Meeting: <%= link_to meetings_member.meeting.name, meetings_member.meeting %></p>
      <p>Member: <%= link_to meetings_member.member.name, meetings_member.member %></p>
    </div>
  <% end %>
  

<%= link_to "Back to Members", members_path %>
<%= link_to "Back to Meetings", meetings_path %>