<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this event", edit_book_path(@book) %> |
  <%= link_to "Back to events", books_path %>

  <%= button_to "Destroy this event", @book, method: :delete %>
</div>
