<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Styles for flash messages -->
  <style>
    .flash {
      padding: 10px;
      border: 1px solid;
      margin-bottom: 20px;
    }
    .flash.alert {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }
    .flash.notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #3c763d;
    }
    /* Your additional styles here */
  </style>
</head>
<body>

  <% flash.each do |type, message| %>
    <%= content_tag(:div, message, class: "flash #{type}") %>
  <% end %>

  <%= yield %>

</body>
</html>
